:root {
  --yellow: #FBF3AB;
  --light-pink: #F0B9DD;
  --lavender: #C7B9FF;
  --deep-pink: #F04C86;
  --raisin: #2B283A;
  --white: #fff;
    --val-red:#c72b50;

}

*,html, body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 500px; */
    color: var(--raisin);
    background-color: var(--light-pink);
    font-family: 'Karla', sans-serif;
    padding: 1rem;
    width: 100vw;
}
h1{
   text-align: center;
   margin-bottom: 1em;
   color: var(--raisin);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--lavender);
    padding: 2rem 1rem;
    box-shadow: 5px 15px 15px #0004;
    border-radius: 0.375rem;
}

.paragraph {    
    background: var(--yellow);
    color: var(--raisin);
    min-width: 270px;
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    margin: 1rem auto;
    color: var(--val-red);
    
}
.paragraph.animate{
   animation:  animate 3s linear;
}
@keyframes animate{
   0%{
      transform: scaleX(1.2)
   }
   25%{
      transform: rotateX(-120deg)
   }
   75%{
      transform: rotateY(120deg)
   }
   100%{
      transform: scale(0,0) rotate(0,0) 
   }
}

button {
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    border: none;
    padding: 1em 2em;
    color: var(--white);
    background: var(--deep-pink);
    margin: 1rem auto;
    font-size: 1.2rem;
    text-transform: capitalize;
    z-index: 2;
}

button:hover,
button:focus {
    transform: scale(1.02);
    cursor: pointer;  
}

